name: Compile Examples

# See: https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows
on:
  push:
    paths:
      - ".github/workflows/compile-examples.yml"
      - "library.properties"
      - "examples/**"
      - "src/**"
  pull_request:
    paths:
      - ".github/workflows/compile-examples.yml"
      - "library.properties"
      - "examples/**"
      - "src/**"
  schedule:
    # Run every Tuesday at 8 AM UTC to catch breakage caused by changes to external resources (libraries, platforms).
    - cron: "0 8 * * TUE"
  workflow_dispatch:
  repository_dispatch:

jobs:
  build:
    name: ${{ matrix.board.fqbn }}
    runs-on: ubuntu-latest

    env:
      SKETCHES_REPORTS_PATH: sketches-reports

    strategy:
      fail-fast: false

      matrix:
        board:
          - fqbn: arduino:avr:uno
            platforms: |
              - name: arduino:avr
            ciao: false
          - fqbn: arduino:avr:unowifi
            platforms: |
              - name: arduino:avr
            ciao: false
          - fqbn: arduino:avr:mega
            platforms: |
              - name: arduino:avr
            ciao: false
          - fqbn: arduino:avr:leonardo
            platforms: |
              - name: arduino:avr
            ciao: true
          - fqbn: arduino:avr:yun
            platforms: |
              - name: arduino:avr
            ciao: true
          - fqbn: arduino:sam:arduino_due_x_dbg
            platforms: |
              - name: arduino:sam
            ciao: false
          - fqbn: arduino:samd:arduino_zero_edbg
            platforms: |
              - name: arduino:samd
            ciao: true

        # Make board type-specific customizations to the matrix jobs
        include:
          - board:
              ciao: true
            ciao-libraries: |
              - name: Ciao
            ciao-sketch-paths: |
              - examples/ciaoBraccio
          - board:
              ciao: false
            ciao-libraries: ""
            ciao-sketch-paths: ""
          - board:
              fqbn: arduino:avr:unowifi
            uno-wifi-libraries: |
              - source-url: https://github.com/arduino-libraries/WiFi_for_UNOWiFi_rev1.git
                version: 1.0.0
            uno-wifi-sketch-paths: |
              - examples/braccioOfUnoWiFi

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Compile examples
        uses: arduino/compile-sketches@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fqbn: ${{ matrix.board.fqbn }}
          platforms: ${{ matrix.board.platforms }}
          libraries: |
            # Install the library from the local path.
            - source-path: ./
            # External libraries to install for all boards
            - name: Servo
            # Board-specific libraries
            ${{ matrix.ciao-libraries }}
            ${{ matrix.uno-wifi-libraries }}
          sketch-paths: |
            # Examples to compile for all boards
            - examples/simpleMovements
            - examples/takethesponge
            - examples/testBraccio90
            # Board-specific examples
            ${{ matrix.ciao-sketch-paths }}
            ${{ matrix.uno-wifi-sketch-paths }}
          enable-deltas-report: true
          sketches-report-path: ${{ env.SKETCHES_REPORTS_PATH }}

      - name: Save sketches report as workflow artifact
        uses: actions/upload-artifact@v2
        with:
          if-no-files-found: error
          path: ${{ env.SKETCHES_REPORTS_PATH }}
          name: ${{ env.SKETCHES_REPORTS_PATH }}
